.navbar {
    background-color: white;
    height: 10vh;
    
}
.flag{
    border-radius: 50%; 
    width: 20px; 
    height: 20px;
}
.profile{
    border-radius: 50%; 
    width: 40px; 
    height: 40px;
}