.d-flex {
  display: flex;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.dashboard-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.chart-selection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.chart-selection label {
  margin: 0 10px;
  cursor: pointer;
}

.chart-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;

  background-color: rgb(203, 228, 103);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 50vh;
  width: 100vh;
}


@media (max-width: 768px) {
  .chart-container {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  height: 40vh;
  /* Changed from 40% to 40vh */
  width: 100%;
  position: relative;
}

.icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #333;
}

.value {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.label {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

select {
  margin-bottom: 20px;
  padding: 8px;
  font-size: 14px;
}

.card .dropdown {
  position: absolute;
  top: 20px;
  right: 60px;
}

/* New Sections CSS */
.recent-activities h2 {
  margin-top: 165px;
}

.recent-activities,
.performance-overview {
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 100px;
}

.recent-activities h2,
.performance-overview h2 {
  text-align: left;
  /* Align titles to the left */
}